<div class="edit-brh-container">
    <div class="row">
        <div class="input-group input-group-icon">
            <input type="text" placeholder="Branch Name" [(ngModel)]="sy_brh_nam">
            <div class="input-icon">
                <i class="bx bx-buildings"></i>
            </div>
        </div>
    </div>
</div>
<footer class="actions">
    <button class="btn-confirm" (click)="confirmData()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Confirm
    </button>
</footer>