<kcl-sidenav-container>
    <kcl-sidenav #sidenav mode="side" [ngClass]="{close: !isExpanded}">
        <kcl-logo-drawer>
            <div class="logo-details">
                <i class="bx bxl-c-plus-plus"></i>
                <span class="logo-name">Implement</span>
            </div>
        </kcl-logo-drawer>
        <kcl-list-item-drawer *ngIf="DEFAULT_LIST.length > 0">
            <ul class="nav-links">
                <li *ngFor="let item of DEFAULT_LIST">
                    <a [routerLink]="item.name.toLowerCase()" routerLinkActive="sidnav-link-active" kclSidenavTooltip tooltip="{{item.name}}" placement="right">
                        <i *ngIf="item.icon_type === 'boxicon'" class="bx {{item.icon}}"></i>
                        <mat-icon mat-list-icon *ngIf="item.icon_type === 'ng-mat'">{{item.icon}}</mat-icon>
                        <span class="link-name">{{item.name}}</span>
                    </a>
                </li>
            </ul>
        </kcl-list-item-drawer>
        <kcl-profile-drawer>
            <div class="profile-content">
                <div class="profile">
                    <div class="profile-details">
                        <img src="../../../../assets/image/despisepikachu.png" alt="profile">
                        <div class="name-job">
                            <div class="profile-name">Kaihua</div>
                            <div class="job">Program Designer</div>
                        </div>
                    </div>
                    <i class="bx bx-log-out" id="log_out" kclSidenavTooltip tooltip="Logout" [specifyWidth]="78" placement="right"></i>
                </div>
            </div>
        </kcl-profile-drawer>
    </kcl-sidenav>
    <kcl-sidenav-content>
        <section class="home-section">
            <div class="home-content">
                <i class="bx bx-menu" id="sidenav_menu" (click)="isExpanded = !isExpanded"></i>
            </div>
        </section>
    </kcl-sidenav-content>
</kcl-sidenav-container>