// @use '../../library/sidenav/sidenav.scss';
@use '../../library/tooltip/tooltip.component.scss';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
$img-edge-width: 2.8125rem;
$list-item-height: 3.125rem;
$logo-content-height: 3.75rem;
$profile-content-height: 3.75rem;
$sidebar-expand-width: 16.25rem;
$sidebar-shrink-width: 4.875rem;

$ease-5minisecond-all: all 0.5s ease;
$ease-5minisecond: 0.5s ease;
$ease-4minisecond-all: all 0.4s ease;
$ease-4minisecond: 0.4s ease;
$ease-3minisecond-all: all 0.3s ease;
$ease-3minisecond: 0.3s ease;

$section-background: #ded9f3;
// $section-background: #FFF;

@mixin opacity-event-none {
    opacity: 0;
    pointer-events: none;
}

@mixin icon-common {
    height: 3.125rem;
    min-width: calc(#{$sidebar-expand-width} * 3 / 10);
    text-align: center;
    line-height: 3.125rem;
}

@mixin active-navlink-corners(
    $edge-length,
    $use-top: false,
    $use-bottom: false,
    $vertical-position,
    $shadow-background
) {
    content: "";
    position: absolute;
    background: transparent;
    @if $use-top {
        top: $vertical-position;
        border-top-right-radius: 50%;
        box-shadow: 0 calc(-#{$edge-length} / 2) 0 0 $shadow-background;
    }
    @if $use-bottom {
        bottom: $vertical-position;
        border-bottom-right-radius: 50%;
        box-shadow: 0 calc(#{$edge-length} / 2) 0 0 $shadow-background;
    }
    right: 0;
    height: $edge-length;
    width: $edge-length;
}

.kcl-sidenav-expand {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: $sidebar-expand-width;
    background: #11101d;
    z-index: 100;
    transition: $ease-5minisecond-all;

    &.close {
        width: calc(#{$sidebar-expand-width} * 3 / 10);

        .logo-details {
            .logo-name {
                transition-delay: 0s;
                @include opacity-event-none;
            }
        }

        .nav-links {
            // overflow: visible;
            li {
                a {
                    .link-name {
                        @include opacity-event-none;
                    }
                }
            }
        }

        .profile-content {
            .profile {
                background: none;

                .profile-details {
                    @include opacity-event-none;
                }

                i,
                mat-icon {
                    &#log_out {
                        left: 50%;
                        background: #1d1b31;
                    }
                }
            }
        }

        & ~ .kcl-sidenav-content {
            .home-section {
                left: $sidebar-shrink-width;
                width: calc(100% - #{$sidebar-shrink-width});
            }
        }
    }

    .logo-details {
        height: $logo-content-height;
        width: 100%;
        display: flex;
        align-items: center;

        i,
        mat-icon {
            color: #fff;
            font-size: 1.875rem;
            @include icon-common;
        }

        .logo-name {
            color: #fff;
            font-size: 1.375rem;
            font-weight: 600;
            transition: $ease-3minisecond;
            transition-delay: 0.1s;
        }
    }

    .nav-links {
        // height: 100%;
        // padding: 1.875rem 0 9.375rem 0;
        height: calc(100% - calc(#{$logo-content-height} + #{$profile-content-height}));
        padding: 1.875rem 0 0 0;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        li {
            position: relative;
            list-style: none;
            transition: $ease-4minisecond-all;
            &:hover {
                background: #1d1b31;
            }

            i,
            mat-icon {
                @include icon-common;
                color: #fff;
                font-size: 1.25rem;
                cursor: pointer;
                transition: $ease-3minisecond-all;
            }

            a {
                display: flex;
                align-items: center;
                text-decoration: none;

                &.sidnav-link-active {
                    // background: #343152;
                    background: $section-background;
                    border-top-left-radius: calc(1.25rem / 2);
                    border-bottom-left-radius: calc(1.25rem / 2);

                    &::after {
                        @include active-navlink-corners(1.25rem, false, true, 100%, $section-background);
                    }

                    &::before {
                        @include active-navlink-corners(1.25rem, true, false, 100%, $section-background);
                        z-index: 1;
                    }

                    i,
                    mat-icon,
                    .link-name {
                        color: #11101d;
                    }
                }

                .link-name {
                    font-size: 1.125rem;
                    font-weight: 400;
                    color: #fff;
                    white-space: nowrap;
                    width: 100%;
                }
            }
        }
    }

    .profile-content {
        position: absolute;
        color: #fff;
        bottom: 0;
        left: 0;
        width: 100%;

        .profile {
            position: relative;
            padding: 0.625rem 0.375rem;
            height: $profile-content-height;
            background: #1d1b31;
            transition: $ease-4minisecond-all;

            .profile-details {
                display: flex;
                align-items: center;
                opacity: 1;
                pointer-events: auto;
                white-space: nowrap;

                img {
                    height: $img-edge-width;
                    width: $img-edge-width;
                    object-fit: cover;
                    border-radius: 0.75rem;
                }

                .name-job {
                    margin-left: 0.625rem;

                    .name {
                        font-size: 0.9375rem;
                        font-weight: 400;
                    }

                    .job {
                        font-size: 0.75rem;
                    }
                }
            }

            i,
            mat-icon {
                &#log_out {
                    position: absolute;
                    left: 88%;
                    bottom: 0.3125rem;
                    transform: translateX(-50%);
                    min-width: 3.125rem;
                    height: 3.125rem;
                    line-height: 3.125rem;
                    font-size: 1.25rem;
                    border-radius: 0.75rem;
                    text-align: center;
                    background: none;
                }
            }
        }
    }
}

.kcl-sidenav-content {
    .home-section {
        position: relative;
        display: flex;
        background: $section-background;
        height: 100vh;
        width: calc(100% - #{$sidebar-expand-width});
        left: $sidebar-expand-width;
        transition: $ease-5minisecond-all;

        .home-content {
            display: flex;

            i#sidenav_menu {
                font-size: 35px;
            }
        }
    }
}

.mat-sidenav-container {
    .mat-sidenav.sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: $sidebar-expand-width;
        background: #11101d;
        z-index: 100;
        transition: $ease-5minisecond-all;

        &.close {
            width: $sidebar-shrink-width;
        }
    }
}
